//- Extending from the main template :: base.pug
extends layouts/base.pug



//- Page Content
block content
  div(id="sg-content")
    .page(id="sg-color-palette").template
      .inner
        .sg-heading.sg
          h1.grey Color Palette
          p.large.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.

        .colors.primary
          h6.grey Primary
          ul.clearfix
            li.color
              .inner
                .circle.bg-primary-blue1
                .values
                  p.hex #001B2D
                  p.rgb (0, 27, 45)
                .use
                  p.class .c-primary-blue1
                  p.class .bg-primary-blue1

            li.color
              .inner
                .circle.bg-primary-blue2
                .values
                  p.hex #01416E
                  p.rgb (1, 65, 110)
                .use
                  p.class .c-primary-blue2
                  p.class .bg-primary-blue2

            li.color
              .inner
                .circle.bg-primary-blue3
                .values
                  p.hex #015FA1
                  p.rgb (0, 24, 161)
                .use
                  p.class .c-primary-blue3
                  p.class .bg-primary-blue3

            li.color
              .inner
                .circle.bg-primary-blue4
                .values
                  p.hex #028EB2
                  p.rgb (2, 142, 178)
                .use
                  p.class .c-primary-blue4
                  p.class .bg-primary-blue4

            li.color
              .inner
                .circle.bg-primary-blue5
                .values
                  p.hex #4CBAEB
                  p.rgb (76, 186, 235)
                .use
                  p.class .c-primary-blue5
                  p.class .bg-primary-blue5

        .colors.secondary
          h6.grey Secondary
          ul.clearfix
            li.color
              .inner
                .circle.bg-secondary-red
                .values
                  p.hex #BF4C4A
                  p.rgb (191, 76, 74)
                .use
                  p .c-secondary-red
                  p .bg-secondary-red

            li.color
              .inner
                .circle.bg-secondary-green
                .values
                  p.hex #7AB800
                  p.rgb (122, 184, 0)
                .use
                  p .c-secondary-green
                  p .bg-secondary-green

            li.color
              .inner
                .circle.bg-secondary-yellow
                .values
                  p.hex #F0A800
                  p.rgb (240, 168, 0)
                .use
                  p .c-secondary-yellow
                  p .bg-secondary-yellow

        .colors.secondary
          h6.grey Neutrals
          ul.clearfix
            li.color
              .inner
                .circle.bg-neutral-grey1
                .values
                  p.hex #4C4D4F
                  p.rgb (76, 77, 79)
                .use
                  p .c-neutral-grey1
                  p .bg-neutral-grey1

            li.color
              .inner
                .circle.bg-neutral-grey2
                .values
                  p.hex #9B9B9B
                  p.rgb (155, 155, 155)
                .use
                  p .c-neutral-grey2
                  p .bg-neutral-grey2

            li.color
              .inner
                .circle.bg-neutral-grey3
                .values
                  p.hex #C0C0C0
                  p.rgb (192, 192, 192)
                .use
                  p .c-neutral-grey3
                  p .bg-neutral-grey3

            li.color
              .inner
                .circle.bg-neutral-grey4
                .values
                  p.hex #E4E4E4
                  p.rgb (228, 228, 228)
                .use
                  p .c-neutral-grey4
                  p .bg-neutral-grey4

            li.color
              .inner
                .circle.bg-neutral-grey5
                .values
                  .p.hex #2C2C2D
                  p.rgb (44, 44, 45)
                .use
                  p .c-neutral-grey5
                  p .bg-neutral-grey5



      