//- Extending from the main template :: base.pug
extends layouts/base.pug


//- Page Content
block content
	div(id="sg-content")
		.page(id="sg-nav-links")
			.inner
				.sg-heading.sg
					h1.grey Header Nav Links
