//- Extending from the main template :: base.pug
extends layouts/base.pug


//- Page Content
block content
	div(id="sg-content")
		.page(id="sg-iconography")
			.inner
				.sg-heading.sg
					h1.grey Iconography
					p.large.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.

				.icon-group
					.icon.icon-blue
						i.fal.fa-question-circle
					.icon.icon-grey
						i.fal.fa-question-circle
					.icon.icon-nav
						i.fal.fa-question-circle
					.icon.icon-white.sg
						i.fal.fa-question-circle
					span .fal.fa-question-circle

				.icon-group
					.icon.icon-blue
						i.fal.fa-usd-circle
					.icon.icon-grey
						i.fal.fa-usd-circle
					.icon.icon-nav
						i.fal.fa-usd-circle
					.icon.icon-white.sg
						i.fal.fa-usd-circle
					span .fal.fa-usd-circle

				.icon-group
					.icon.icon-blue
						i.fal.fa-user
					.icon.icon-grey
						i.fal.fa-user
					.icon.icon-nav
						i.fal.fa-user
					.icon.icon-white.sg
						i.fal.fa-user
					span .fal.fa-user

				.icon-group
					.icon.icon-blue
						i.fal.fa-phone
					.icon.icon-grey
						i.fal.fa-phone
					.icon.icon-nav
						i.fal.fa-phone
					.icon.icon-white.sg
						i.fal.fa-phone
					span .fal.fa-phone

				.icon-group
					.icon.icon-blue
						i.fal.fa-exclamation-circle
					.icon.icon-grey
						i.fal.fa-exclamation-circle
					.icon.icon-nav
						i.fal.fa-exclamation-circle
					.icon.icon-white.sg
						i.fal.fa-exclamation-circle
					span .fal.fa-exclamation-circle

				.icon-group
					.icon.icon-blue
						i.fal.fa-exclamation-triangle
					.icon.icon-grey
						i.fal.fa-exclamation-triangle
					.icon.icon-nav
						i.fal.fa-exclamation-triangle
					.icon.icon-white.sg
						i.fal.fa-exclamation-triangle
					span .fal.fa-exclamation-triangle

				.icon-group
					.icon.icon-blue
						i.fal.fa-bars
					.icon.icon-grey
						i.fal.fa-bars
					.icon.icon-nav
						i.fal.fa-bars
					.icon.icon-white.sg
						i.fal.fa-bars
					span .fal.fa-bars

				.icon-group
					.icon.icon-blue
						i.fal.fa-edit
					.icon.icon-grey
						i.fal.fa-edit
					.icon.icon-nav
						i.fal.fa-edit
					.icon.icon-white.sg
						i.fal.fa-edit
					span .fal.fa-edit

				.icon-group
					.icon.icon-blue
						i.fal.fa-check
					.icon.icon-grey
						i.fal.fa-check
					.icon.icon-nav
						i.fal.fa-check
					.icon.icon-white.sg
						i.fal.fa-check
					span .fal.fa-check

				.icon-group
					.icon.icon-blue
						i.fal.fa-check-circle
					.icon.icon-grey
						i.fal.fa-check-circle
					.icon.icon-nav
						i.fal.fa-check-circle
					.icon.icon-white.sg
						i.fal.fa-check-circle
					span .fal.fa-check-circle

				.icon-group
					.icon.icon-blue
						i.fal.fa-list
					.icon.icon-grey
						i.fal.fa-list
					.icon.icon-nav
						i.fal.fa-list
					.icon.icon-white.sg
						i.fal.fa-list
					span .fal.fa-list

				.icon-group
					.icon.icon-blue
						i.fal.fa-table
					.icon.icon-grey
						i.fal.fa-table
					.icon.icon-nav
						i.fal.fa-table
					.icon.icon-white.sg
						i.fal.fa-table
					span .fal.fa-table

				.icon-group
					.icon.icon-blue
						i.fal.fa-chart-bar
					.icon.icon-grey
						i.fal.fa-chart-bar
					.icon.icon-nav
						i.fal.fa-chart-bar
					.icon.icon-white.sg
						i.fal.fa-chart-bar
					span .fal.fa-chart-bar

				.icon-group
					.icon.icon-blue
						i.fal.fa-ellipsis-v
					.icon.icon-grey
						i.fal.fa-ellipsis-v
					.icon.icon-nav
						i.fal.fa-ellipsis-v
					.icon.icon-white.sg
						i.fal.fa-ellipsis-v
					span .fal.fa-ellipsis-v

				.icon-group
					.icon.icon-blue
						i.fal.fa-info-circle
					.icon.icon-grey
						i.fal.fa-info-circle
					.icon.icon-nav
						i.fal.fa-info-circle
					.icon.icon-white.sg
						i.fal.fa-info-circle
					span .fal.fa-info-circle

				.icon-group
					.icon.icon-blue
						i.fal.fa-plus
					.icon.icon-grey
						i.fal.fa-plus
					.icon.icon-nav
						i.fal.fa-plus
					.icon.icon-white.sg
						i.fal.fa-plus
					span .fal.fa-plus

				.icon-group
					.icon.icon-blue
						i.fal.fa-minus
					.icon.icon-grey
						i.fal.fa-minus
					.icon.icon-nav
						i.fal.fa-minus
					.icon.icon-white.sg
						i.fal.fa-minus
					span .fal.fa-minus

				.icon-group
					.icon.icon-blue
						i.fal.fa-file
					.icon.icon-grey
						i.fal.fa-file
					.icon.icon-nav
						i.fal.fa-file
					.icon.icon-white.sg
						i.fal.fa-file
					span .fal.fa-file

				.icon-group
					.icon.icon-blue
						i.fal.fa-thumbs-up
					.icon.icon-grey
						i.fal.fa-thumbs-up
					.icon.icon-nav
						i.fal.fa-thumbs-up
					.icon.icon-white.sg
						i.fal.fa-thumbs-up
					span .fal.fa-thumbs-up

				.icon-group
					.icon.icon-blue
						i.fal.fa-comment
					.icon.icon-grey
						i.fal.fa-comment
					.icon.icon-nav
						i.fal.fa-comment
					.icon.icon-white.sg
						i.fal.fa-comment
					span .fal.fa-comment

				.icon-group
					.icon.icon-blue
						i.fal.fa-chevron-down
					.icon.icon-grey
						i.fal.fa-chevron-down
					.icon.icon-nav
						i.fal.fa-chevron-down
					.icon.icon-white.sg
						i.fal.fa-chevron-down
					span .fal.fa-chevron-down

				.icon-group
					.icon.icon-blue
						i.fal.fa-chevron-up
					.icon.icon-grey
						i.fal.fa-chevron-up
					.icon.icon-nav
						i.fal.fa-chevron-up
					.icon.icon-white.sg
						i.fal.fa-chevron-up
					span .fal.fa-chevron-up

				.icon-group
					.icon.icon-blue
						i.fal.fa-times
					.icon.icon-grey
						i.fal.fa-times
					.icon.icon-nav
						i.fal.fa-times
					.icon.icon-white.sg
						i.fal.fa-times
					span .fal.fa-times

				.icon-group
					.icon.icon-blue
						i.fal.fa-times-circle
					.icon.icon-grey
						i.fal.fa-times-circle
					.icon.icon-nav
						i.fal.fa-times-circle
					.icon.icon-white.sg
						i.fal.fa-times-circle
					span .fal.fa-times-circle

				.icon-group
					.icon.icon-blue
						i.fas.fa-sort-down
					.icon.icon-grey
						i.fas.fa-sort-down
					.icon.icon-nav
						i.fas.fa-sort-down
					.icon.icon-white.sg
						i.fas.fa-sort-down
					span .fas.fa-sort-down

				.icon-group
					.icon.icon-blue
						i.fas.fa-sort-up
					.icon.icon-grey
						i.fas.fa-sort-up
					.icon.icon-nav
						i.fas.fa-sort-up
					.icon.icon-white.sg
						i.fas.fa-sort-up
					span .fas.fa-sort-up

				
