//- Extending from the main template :: base.jade
//- Extending from the main template :: base.jade
extends layouts/base.pug



//- Page Content
block content
	div(id="content")
		.page.home-page
			.content
				+text-block()




