//- Extending from the main template :: base.jade
extends layouts/base.pug


//- Page Content
block content
	div(id="sg-content")
		.page(id="sg-homepage")
			.inner
				.sg-heading.sg
					h1.grey Home Page

					+text-block()



