// _______________________________________________________________________________
// Custom Black and White  :: Could be subtle differences from standard 000 or FFF
$white: #ffffff;
$black: #000000;

// __________________________________________________________________________
// Basic Grey Scale
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #555555;
$grey6: #666666;
$grey7: #777777;
$grey8: #888888;
$grey9: #999999;
$greya: #aaaaaa;
$greyb: #bbbbbb;
$greyc: #cccccc;
$greyd: #dddddd;
$greye: #eeeeee;


// __________________________________________________________________________
// Corporate Colors
$primary_blue1: #001B2D;
$primary_blue2: #01416E;
$primary_blue3: #015FA1;
$primary_blue4: #028EB2;
$primary_blue5: #4CBAEB;

$secondary_red: #BF4C4A;
$secondary_green: #7AB800;
$secondary_yellow: #F0A800;

$neutral_grey1: #4C4D4F;
$neutral_grey2: #9B9B9B;
$neutral_grey3: #C0C0C0;
$neutral_grey4: #E4E4E4;
$neutral_grey5: #2C2C2D;



// __________________________________________________________________________
// Semantic Colors	

