// Custom Variables & Fonts

// Variables
$example: 10px;
$example-border: solid $example black;


// Fonts
// $default-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

$font-roboto: 'Roboto', Helvetica, sans-serif;
$font-roboto-slab: 'Roboto Slab', Times, serif;

$light-weight: 300;
$bold-weight: 700;
$normal-weight: 400;



