/* Buttons */
a.btn, button.btn{
	display: inline-block;
	min-width: 100px;
	max-width: 270px;
	text-align: center;
	padding: 12px 16px;
	font-family: $font-roboto;
	font-weight: $normal-weight;
	font-size: 16px;
	border-radius: 4px;
	&.primary{
		color: $white;
		background-color: $primary_blue2;
		border-color: $primary_blue2;
		&:hover{
			background-color: $primary_blue3;
			border-color: $primary_blue3;
		}
		&:active{
			background-color: $primary_blue1;
			border-color: $primary_blue1;
		}
		&.disabled{
			background-color: $primary_blue4;
			border-color: $primary_blue4;
			opacity: .5;
		}
	}
	&.secondary{
		color: $white;
		background-color: $neutral-grey1;
		border-color: $neutral-grey1;
		&:hover{
			background-color: $neutral-grey2;
			border-color: $neutral-grey2;
		}
		&:active{
			background-color: $neutral-grey5;
			border-color: $neutral-grey5;
		}
		&.disabled{
			background-color: $neutral-grey1;
			border-color: $neutral-grey1;
			opacity: .5;
		}
	}
	&.tertiary{
		color: $neutral-grey1;
		background-color: $white;
		border-color: $neutral-grey1;
		&:hover{
			background-color: $primary_blue2;
			border-color: $primary_blue2;
			color: $white;
		}
		&:active{
			background-color: $primary_blue2;
			border-color: $primary_blue2;
			color: $primary_blue5;
		}
		&.disabled{
			background-color: $white;
			border-color: $primary_blue4;
			color: $primary_blue4;
			opacity: .5;
		}
	}
	&:active, &:focus{
		outline: 0;
		box-shadow: none;
	}
}






/* Style guide Styles ONLY : Buttons */
#sg-buttons{
	.button-group{
		text-align: center;
		width: 300px;
		margin-right: 20px;
		padding-right: 20px;
		border-right: solid 1px $neutral-grey4;
		float: left;
		.button-label{
			margin-bottom: 5px;
		}
		.btn{
			margin-bottom: 30px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}
/* END Style Guide Styles : Buttons */



