/* Checkboxes and Radios */
.aon-custom-checkbox{
	position: relative;
	input.custom-control-input{
		//- Hidden
	}
	label.custom-control-label{
		margin-left: 10px;
		&:before{
			width: 24px;
			height: 24px;
			top: 0;
			left: -34px;
			border-color: $neutral-grey1;
		}
	}
	.custom-control-input:focus~.custom-control-label::before{
		outline: 0;
		box-shadow: none;
		border-color: $neutral-grey1;
	}
	.custom-control-input:checked~.custom-control-label::before{
		background: $white;
		outline: 0;
		box-shadow: none;
		border-color: $primary_blue3;
	}
	.custom-control-input:focus:checked~.custom-control-label::before{
		border-color: $primary_blue3;
	}
	.custom-control-input:checked~.custom-control-label::after{
		background-image: none;
		content: '\f00c';
		font-family: $font-awesome;
		top: 0;
		left: -30px;
		color: $primary_blue3;
	}
	.custom-control-input.error:checked ~ .custom-control-label:before{
		border-color: $primary_blue3;
	}
	.custom-control-input.error ~ .custom-control-label:before{
		border-color: $secondary-red;
	}
}
.aon-custom-radio{
	position: relative;
	input.custom-control-input{
		//- Hidden
	}
	label.custom-control-label{
		margin-left: 10px;
		&:before{
			width: 24px;
			height: 24px;
			top: 0;
			left: -34px;
			border-color: $neutral-grey1;
			background-color: $white;
		}
	}
	.custom-control-input:focus~.custom-control-label::before{
		outline: 0;
		box-shadow: none;
		border-color: $neutral-grey1;
	}
	.custom-control-input:checked~.custom-control-label::before{
		background: $white;
		outline: 0;
		box-shadow: none;
		border-color: $primary_blue3;
	}
	.custom-control-input:focus:checked~.custom-control-label::before{
		border-color: $primary_blue3;
	}
	.custom-control-input:checked~.custom-control-label::after{
		background-image: none;
		content: '\f111';
		font-family: $font-awesome;
		left: -30px;
		top: 4px;
		background: $primary_blue3;
		border-radius: 100%;
		font-size: 0;
	}
	.custom-control-input.error:checked ~ .custom-control-label:before{
		border-color: $primary_blue3;
	}
	.custom-control-input.error ~ .custom-control-label:before{
		border-color: $secondary-red;
	}
}
.aon-custom-radio .custom-control-input:checked ~ .custom-control-label::after{
	font-size: 0px;
}







/* Style Guide Styles ONLY : Checkboxes and Radios */
#sg-checks-and-radios{
	.checkboxes-group, .radios-group{
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: solid 1px $neutral-grey3;
	}
	.checkbox-group, .aon-custom-radio{
		margin-bottom: 20px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}
/* END Style Guide Styles : Checkboxes and Radios */


