//- Typography
a.anchor{
	color: $primary-blue4;
}
h1,h2,h3,h4,h5,h6{
	color: $primary_blue2;
	&.grey{
		color: $neutral-grey1;
	}
	&.link{
		color: $primary_blue4;
	}
	&.white{
		color: $white;
		&.sg{
			background: $black;
			display: inline-block;
		}
	}
}
h1{
	font-family: $font-roboto-slab;
	font-weight: $light-weight;
	font-size: 48px;
	line-height: 64px;
}
h2{
	font-family: $font-roboto;
	font-weight: $bold-weight;
	font-size: 36px;
	line-height: 44px;
}
h3{
	font-family: $font-roboto-slab;
	font-weight: $bold-weight;
	font-size: 28px;
	line-height: 32px;
}
h4{
	font-family: $font-roboto;
	font-weight: $bold-weight;
	font-size: 24px;
	line-height: 40px;
}
h5{
	font-family: $font-roboto;
	font-weight: $light-weight;
	font-size: 24px;
	line-height: 40px;
}
h6{
	font-family: $font-roboto;
	font-weight: $bold-weight;
	font-size: 20px;
	line-height: 28px;

	&.nav-context{
		color: $neutral-grey1;
		font-weight: $light-weight;
		font-size: 16px;
		line-height: 24px;
		&.active{
			color: $primary-blue2;
			font-weight: $bold-weight;
		}
		&.disabled{
			color: $neutral-grey2;
		}
	}
	&.nav-header{
		color: $primary-blue4;
		font-weight: $normal-weight;
		font-size: 16px;
		line-height: 20px;
		&.active{
			color: $primary-blue2;
		}
	}
	&.nav-tab{
		color: $neutral-grey4;
		font-size: 16px;
		line-height: 24px;
		font-weight: $bold-weight;
		&.active{
			color: $primary-blue2;
		}
	}

	&.button-label{
		color: $neutral-grey1;
		font-size: 16px;
		line-height: 24px;
		font-weight: $normal-weight;
		&.link{
			color: $primary-blue4;
		}
		&.inverse{
			color: $white;
			background-color: $black;
			display: inline-block;
		}
	}
	&.button-title{
		color: $neutral-grey1;
		font-size: 16px;
		line-height: 20px;
		font-weight: $bold-weight;
		&.inverse{
			color: $white;
			background-color: $black;
			display: inline-block;
		}
	}
	&.form-content{
		font-weight: $normal-weight;
		font-size: 16px;
		line-height: 24px;
		&.grey{
			color: $neutral-grey1;
		}
		&.error{
			color: $secondary-red;
		}
		&.placeholder{
			color: $neutral-grey2;
		}
		&.white{
			color: $white;
			&.sg{
				background: $black;
				display: inline-block;
			}
		}
	}
	&.form-description{
		font-weight: $normal-weight;
		font-size: 16px;
		line-height: 24px;
		&.grey{
			color: $neutral-grey1;
		}
		&.error{
			color: $secondary-red;
		}
		&.white{
			color: $white;
			&.sg{
				background: $black;
				display: inline-block;
			}
		}
	}
}


p{
	font-family: $font-roboto;
	font-weight: $light-weight;
	font-size: 18px;
	line-height: 28px;
	color: $neutral-grey1;
	&.link{
		color: $primary-blue2;
	}
	span.link{
		color: $primary-blue2;
	}
	&.white{
		color: $white;
		&.sg{
			background-color: $black;
			display: inline-block;
		}
	}
	span.white{
		color: $white;
		&.sg{
			background-color: $black;
			display: inline-block;	
		}
	}
	&.bold{
		font-weight: $bold-weight;
	}
	span.bold{
		font-weight: $bold-weight;
	}
	&.large{
		font-size: 22px;
		line-height: 36px;
	}
	span.large{
		font-size: 22px;
		line-height: 36px;
	}
	&.small{
		font-size: 16px;
		line-height: 24px;
		font-weight: $normal-weight;
	}
	span.small{
		font-size: 16px;
		line-height: 24px;
		font-weight: $normal-weight;
	}
	&.extra-small{
		font-size: 14px;
		line-height: 20px;
		font-weight: $normal-weight;
	}
	span.extra-small{
		font-size: 14px;
		line-height: 20px;
		font-weight: $normal-weight;
	}
}


// Style Guide Styles Only
#typography{
	.c-white.bg-black{
		display: inline-block;		
	}
	.font-group > h1, .font-group > h2, .font-group > h3, .font-group > h4, .font-group > h5, .font-group > h6, .font-group > p{
		margin-bottom: 12px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	.font-group{
		margin-bottom: 40px;

		h6.heading{
			padding-bottom: 5px;
			margin-bottom: 12px;
			border-bottom: solid 1px $greyc;
		}
	}	
}



