div(id="sidebar")
	.inner
		h4 Table of Contents

		ul.nav
			li
				+link(href="./index.html") Home
			li.heading Atoms
			li
				+link(href="./color_palette.html") Color Palette
			li
				+link(href="./typography.html") Typography
			li.heading Molecules
			li.heading Organisms
			li.heading Templates