div(id="sg-sidebar").sg
	.inner
		h4 Table of Contents

		ul.sg-nav
			li
				+link(href="./index.html") Home
			li.heading Atoms
			li
				+link(href="./color_palette.html") Color Palette
			li
				+link(href="./typography.html") Typography
			li
				+link(href="./iconography.html") Iconography
			li
				+link(href="./checks_and_radios.html") Checkboxes &amp; Radios
			li
				+link(href="./input-fields.html") Input Fields
			li
				+link(href="./select-menus.html") Select Menus
			li
				+link(href="./toggles.html") Toggle Switches
			li
				+link(href="./buttons.html") Buttons
			li.heading Molecules
			li.heading Organisms
			li.heading Templates
			li
				+link(href="./template.html") Template