//- Extending from the main template :: base.jade
extends ../layouts/base.pug


//- Page Content
block content
  .page.color-palette
    .inner
      .heading
        h2 Color Palette
        p.
          The VBES palette has been developed for optimal legibility, accessibility, and consistency withe the Aon Brand.

      .colors.primary
        h4 Primary
        ul
          li.color
            .inner
              .circle
              .values
                p.hex #001B2D
                p.rgb (0, 27, 45)



      