.svg.paper.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
		<path d="M44.1,14.3L44,14.1c0,0-13.9-13.3-13.9-13.3c0,0,0,0,0,0C30.1,0.8,30,0.8,30,0.7C29.5,0.3,28.8,0,28.2,0h-19
		C7,0,5.4,1.7,5.4,3.8v42.5C5.4,48.3,7,50,9.1,50h32c2.1,0,3.8-1.7,3.8-3.8V16.2C44.9,15.5,44.6,14.8,44.1,14.3z M39.7,44.8h-29V5.2
		h14.7v10c0,2.1,1.7,3.7,3.8,3.7h10.6V44.8z M30.6,13.7V8.5l5.4,5.2H30.6z M15.1,25.5h20c0.8,0,1.5-0.7,1.5-1.5
		c0-0.8-0.7-1.5-1.5-1.5h-20c-0.8,0-1.5,0.7-1.5,1.5C13.6,24.9,14.3,25.5,15.1,25.5z M35.2,28.2h-20c-0.8,0-1.5,0.7-1.5,1.5
		c0,0.8,0.7,1.5,1.5,1.5h20c0.8,0,1.5-0.7,1.5-1.5C36.6,28.9,36,28.2,35.2,28.2z M35.2,33.9h-20c-0.8,0-1.5,0.7-1.5,1.5
		c0,0.8,0.7,1.5,1.5,1.5h20c0.8,0,1.5-0.7,1.5-1.5C36.6,34.5,36,33.9,35.2,33.9z"/>
	</svg>